.search-section {
  display: flex;
  justify-content: space-around;
}

.todo-container {
  height: 300px;
  overflow-x: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.todo-container::-webkit-scrollbar {
    display: none;
}

.git-section .action button {
  margin: 0 5px;
}

.git-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
